@import "_reset.less";
@import "_functions.less";

html {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f9f9f9;
	height: 100%;
	font-size: 13px;
}

a {
	color: #369;
	text-decoration: underline;

	&:hover {
		color: #369;
		text-decoration: none;
	}
}

small {
	font-size: 12px;
}

h1 {
	margin: 0px;
	color: #fff;
	font-weight: normal;
	background: #336699;
	position: relative;

	span {
		width: 980px;
		display: block;
		margin: 0px auto;
		padding: 10px 0px;
	}

	.fork_me {
		position: absolute;
		top: 0px;
		right: 0px;
		border: 0px;
	}
}

#container {
	.border-radius(3px);

	background-color: #f9f9f9;
	margin: 10px auto 0px;
	padding: 10px;

	width: 980px;
	overflow: hidden;

	h2 {
		font-weight: normal;
	}
}

#lhs {
	float: left;
	width: 460px;

	ul {
		margin: 1em 0px 2em;

		li {
			margin: 0.5em 0px;
		}
	}
}

#rhs {
	float: right;
	width: 320px;
}

#pastebin { height: 300px; width: 290px; padding: 5px; }
#pastebin.empty { color: silver; }

#change_me { width: 70%; font-size: 13px; }

#footer { text-align: left; width: 980px; padding: 5px 0px; margin: 0px auto; color: #555; font-size: 11px; }